{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container py-5">
    <div class="col-md-8 offset-2">
        <h1 class="mb-5">Log In to Your Account</h1>
        
        <div class="card mb-4" id="forms">
            <div class="card-body">
                {% include 'partials/_messages.html' %}

                <form method="post" action="">
                    <fieldset>
                        {% csrf_token %}

                        {% for fm in form %}
                        <div class="form-group">
                            {{ fm.label_tag }}
                            {{ fm }}
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Login</button>
                    </fieldset>

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                    {% endfor %}
                    {% endif %}
                </form>

                <hr>
                <!-- Google Sign-In Button -->
                <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark btn-block">
                    <i class="fab fa-google"></i> Sign in with Google
                </a>

                Forgot Password? <a href="{% url 'store:password-reset' %}">Reset Now</a> <br>
                New Member? <a href="{% url 'store:register' %}">Create an Account</a>
            </div>
        </div>
    </div>
</div>
</hr>
{% endblock content %}
